@layout NotAuthorizedLayout
@inject NavigationManager NavManager;

@using AppliedLanguage;
@using AppliedAccounts.Data;
@using AppliedAccounts.Models;
@using AppliedAccounts.Services;
@inject GlobalService GlobalService;
@inject NavigationManager NavManager;

@code {

    public GlobalService AppGlobal { get; set; }
    public string? BusinessPic { get; set; }
    public bool UserDBFileExist { get; set; }

    protected override void OnInitialized()
    {
        AppGlobal = GlobalService;
        BusinessPic = Path.Combine(AppGlobal.AppPaths.ImagesPath, "Accounts3.jpg");
        string UserDB = Path.Combine(AppGlobal.AppPaths.FirstPath,
                                     AppGlobal.AppPaths.RootPath,
                                     AppGlobal.AppPaths.ClientPath,
                                     "AppliedUsers2.db");

        UserDBFileExist = File.Exists(UserDB);
    }

    string BasePath => AppGlobal.AppPaths.BaseUri;
    string CompanyName => AppGlobal.Author.Company;
    string Address1 => AppGlobal.Author.Address1;
    string Address2 => AppGlobal.Author.Address2;
    string Country => AppGlobal.Author.City + ", " + AppGlobal.Author.Country;
    string Email => AppGlobal.Author.Email;
    string Contact => AppGlobal.Author.Contact;
    string Url => AppGlobal.Author.Url;
    string Url2 => AppGlobal.Author.Url2;

    string ImagePath => AppGlobal.AppPaths.ImagesPath;
    string btnLogo => $"{ImagePath}/Home/logo.png";
    string btnSignin => $"{ImagePath}/Home/loginBtnIcon.png";
    string btnSignup => $"{ImagePath}/Home/signupBtnIcon.png";
    string btnAccounts => $"{ImagePath}/Home/accounting1.png";
    string btnInventory => $"{ImagePath}/Home/accounting2.png";
    string btnPayroll => $"{ImagePath}/Home/accounting3.png";
    string btnTaxation => $"{ImagePath}/Home/accounting4.png";

    public void Login() { NavManager.NavigateTo("/Users/Login"); }

    private int _Language { get; set; } = 2;
    //Language 1 = Englist 2= Urdu  & 3 = Arabic
}

<PageTitle>NOT AUTH</PageTitle>

@if (!UserDBFileExist)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error:</strong> User database file is <strong>MISSING</strong>.
    </div>
}
else
{
    <div class="navigation-bar">
        <div class="container py-3">
            <!-- ----Navbar---- -->

            <!-- ------BANNER------- -->
            <section class="hero-banner">
                <div class="container text-white text-center">
                    <h1>@CompanyName</h1>
                    <p class="m-0">
                        Presents an Accounting, Stock and Payroll integrated systems in just
                        Pakistan Rs. 5,000/- per month.
                        <span class="d-lg-block">
                            Contract: @Contact
                            Email: @Email
                        </span>
                    </p>
                </div>
            </section>
            <!-- -------ACCOUNTING SECTIO------ -->
            <section class="accounting-main">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="inner d-flex flex-column justify-content-center">
                                <img src="@btnAccounts"
                                     alt="acc1"
                                     class="img-fluid" />
                                <h5 class="m-0 pt-2 text-theme fw-bold">
                                    Accounts Management Softwares
                                </h5>
                                <div class="pt-3">
                                    <p class="m-0 widh-75">
                                        Applied Accounts provides you complete accounting system in
                                        easy and efficiency way.
                                    </p>
                                </div>

                                <button class="global-btn mt-4">More Details</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="inner d-flex flex-column justify-content-center">
                                <img src="@btnInventory"
                                     alt="acc1"
                                     class="img-fluid" />
                                <h5 class="m-0 pt-2 text-theme fw-bold">
                                    Inventory Management System
                                </h5>
                                <div class="pt-3">
                                    <p class="m-0 widh-75">
                                        Manage and control of stock inventory integrated with
                                        accounting system
                                    </p>
                                </div>

                                <button class="global-btn mt-4">More Details</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="inner d-flex flex-column justify-content-center">
                                <img src="@btnPayroll"
                                     alt="acc1"
                                     class="img-fluid" />
                                <h5 class="m-0 pt-2 text-theme fw-bold">
                                    Customer Relationship Management
                                </h5>
                                <div class="pt-3">
                                    <p class="m-0 widh-75">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the industry's
                                        standard dummy text
                                    </p>
                                </div>

                                <button class="global-btn mt-4">More Details</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="inner d-flex flex-column justify-content-center">
                                <img src="@btnTaxation"
                                     alt="acc1"
                                     class="img-fluid" />
                                <h5 class="m-0 pt-2 text-theme fw-bold">Taxation</h5>
                                <div class="pt-3">
                                    <p class="m-0 widh-75">
                                        We provide submittion on monthly Sales Tax Return (GST/SRB) &
                                        Annual Income Tax Return (FBR)
                                    </p>
                                </div>

                                <button class="global-btn mt-4">More Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- --------TESTIMONIAL--------- -->
            <section class="testimonial-main py-5 bg-light">
                <div class="container">
                    <h1 class="text-center text-theme-dark mb-5">
                        Clients Who Trust Our <span class="text-success">Solutions</span>
                    </h1>
                    <div class="row justify-content-center align-items-stretch">
                        <div class="col-lg-4 col-md-6 mb-4 d-flex">
                            <div class="inner p-4 p-lg-5 w-100 h-100 rounded shadow text-dark bg-gradient bg-info bg-opacity-10">
                                <h3 class="fw-bold text-primary mb-3">HFS Steel - <spin class="fs-5">Mozambique</spin></h3>
                                <p class="m-0 line-height">
                                    As the first manufacturing company to implement our Applied Accounts system, HFS Steel effectively manages its accounts, production, and inventory. They now enjoy powerful, comprehensive reporting that supports better decision-making.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 d-flex">
                            <div class="inner p-4 p-lg-5 w-100 h-100 rounded shadow text-dark bg-gradient bg-success bg-opacity-10">
                                <h3 class="fw-bold text-success mb-3">AMCORP</h3>
                                <p class="m-0 line-height">
                                    AMCORP Engineering and Construction (Pvt.) Limited is a valued client that uses our Applied Accounts system to manage petty cash transactions at its construction sites. The system also helps them effectively control cash and monitor cash flow.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 d-flex">
                            <div class="inner p-4 p-lg-5 w-100 h-100 rounded shadow text-dark bg-gradient bg-warning bg-opacity-10">
                                <h3 class="fw-bold text-warning mb-3">CDC</h3>
                                <p class="m-0 line-height">
                                    CDC Share Registrar Services Limited uses our Applied Accounts system to manage invoicing for its clients. Applied Accounts streamlines the entire invoicing process, enabling the generation and printing of all client invoices in a single click—either as PDFs or directly to a printer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- ----FOOTER----- -->
            <section class="footer-main bg-black text-white">
                <div class="container-fluid py-3">
                    <div class="addres-box d-md-flex align-items-center justify-content-between">
                        <span>© 2024 2025 - Applied Software House ABOUT US</span>
                        <span>©All Rights Reserved Jahangir.com</span>
                    </div>
                </div>
            </section>

        </div>
    </div>
}