@inject NavigationManager NavManager;

@using AppliedLanguage;
@using AppliedAccounts.Data;
@using AppliedAccounts.Models;
@using AppliedAccounts.Services;
@inject GlobalService GlobalService;
@inject NavigationManager NavManager;

@code {

    public GlobalService AppGlobal { get; set; }
    public string? BusinessPic { get; set; }
    public bool UserDBFileExist { get; set; }

    protected override void OnInitialized()
    {
        AppGlobal = GlobalService;
        BusinessPic = Path.Combine(AppGlobal.AppPaths.ImagesPath, "Accounts3.jpg");
        string UserDB = Path.Combine(AppGlobal.AppPaths.FirstPath,
                                     AppGlobal.AppPaths.RootPath,
                                     AppGlobal.AppPaths.ClientPath,
                                     "AppliedUsers2.db");

        UserDBFileExist = File.Exists(UserDB);
    }

    string BasePath => AppGlobal.AppPaths.BaseUri;
    string CompanyName => AppGlobal.Author.Company;
    string Address1 => AppGlobal.Author.Address1;
    string Address2 => AppGlobal.Author.Address2;
    string Country => AppGlobal.Author.City + ", " + AppGlobal.Author.Country;
    string Email => AppGlobal.Author.Email;
    string Contact => AppGlobal.Author.Contact;
    string Url => AppGlobal.Author.Url;
    string Url2 => AppGlobal.Author.Url2;

    string ImagePath => AppGlobal.AppPaths.ImagesPath;
    string btnLogo => $"{ImagePath}/Home/logo.png";
    string btnSignin => $"{ImagePath}/Home/loginBtnIcon.png";
    string btnSignup => $"{ImagePath}/Home/signupBtnIcon.png";
    string btnAccounts => $"{ImagePath}/Home/accounting1.png";
    string btnInventory => $"{ImagePath}/Home/accounting2.png";
    string btnPayroll => $"{ImagePath}/Home/accounting3.png";
    string btnTaxation => $"{ImagePath}/Home/accounting4.png";

    public void Login() { NavManager.NavigateTo("/Users/Login"); }

    private int _Language { get; set; } = 2;
    //Language 1 = Englist 2= Urdu  & 3 = Arabic
}

@if (!UserDBFileExist)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error:</strong> User database file is <strong>MISSING</strong>.
    </div>
}
else
{


    <div class="navigation-bar">
        <div class="container py-3">
            <!-- ----Navbar---- -->

            <div class="d-md-flex align-items-center justify-content-between">
                <div>
                    <img src="@btnLogo" alt="logo" />
                    @* <p>@_Language.GetValue("Test")</p> *@
                </div>

                <div class="mt-3 mt-lg-0 mt-md-0 nav-btns" style="background-color:beige; padding:3px">
                    <!-- <a href="./Login/index.html"> -->
                    <button class="global-btn-bg" @onclick="Login">
                        <span>
                            <img src="@btnSignin" alt="loginIcon" />
                        </span>
                        Log In
                    </button>
                    <!-- </a> -->
                    <!-- <a href="./SignUpAndLogin/index.html"> -->
                    <button class="global-btn-bg">
                        <span>
                            <img src="@btnSignup" alt="loginIcon" />
                        </span>
                        Sign Up
                    </button>
                    <!-- </a> -->
                </div>
            </div>
            <!-- ------BANNER------- -->
            <section class="hero-banner">
                <div class="container text-white text-center">
                    <h1>@CompanyName</h1>
                    <p class="m-0">
                        Presents an Accounting, Stock and Payroll integrated systems in just
                        Pakistan Rs. 5,000/- per month.
                        <span class="d-lg-block">
                            Contract: @Contact
                            Email: @Email
                        </span>
                    </p>
                </div>
            </section>
            <!-- -------ACCOUNTING SECTIO------ -->
            <section class="accounting-main">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="inner d-flex flex-column justify-content-center">
                                <img src="@btnAccounts"
                                     alt="acc1"
                                     class="img-fluid" />
                                <h5 class="m-0 pt-2 text-theme fw-bold">
                                    Accounts Management Softwares
                                </h5>
                                <div class="pt-3">
                                    <p class="m-0 widh-75">
                                        Applied Accounts provides you complete accounting system in
                                        easy and efficiency way.
                                    </p>
                                </div>

                                <button class="global-btn mt-4">More Details</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="inner d-flex flex-column justify-content-center">
                                <img src="@btnInventory"
                                     alt="acc1"
                                     class="img-fluid" />
                                <h5 class="m-0 pt-2 text-theme fw-bold">
                                    Inventory Management System
                                </h5>
                                <div class="pt-3">
                                    <p class="m-0 widh-75">
                                        Manage and control of stock inventory integrated with
                                        accounting system
                                    </p>
                                </div>

                                <button class="global-btn mt-4">More Details</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="inner d-flex flex-column justify-content-center">
                                <img src="@btnPayroll"
                                     alt="acc1"
                                     class="img-fluid" />
                                <h5 class="m-0 pt-2 text-theme fw-bold">
                                    Customer Relationship Management
                                </h5>
                                <div class="pt-3">
                                    <p class="m-0 widh-75">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the industry's
                                        standard dummy text
                                    </p>
                                </div>

                                <button class="global-btn mt-4">More Details</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="inner d-flex flex-column justify-content-center">
                                <img src="@btnTaxation"
                                     alt="acc1"
                                     class="img-fluid" />
                                <h5 class="m-0 pt-2 text-theme fw-bold">Taxation</h5>
                                <div class="pt-3">
                                    <p class="m-0 widh-75">
                                        We provide submittion on monthly Sales Tax Return (GST/SRB) &
                                        Annual Income Tax Return (FBR)
                                    </p>
                                </div>

                                <button class="global-btn mt-4">More Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- --------TESTIMONIAL--------- -->
            <section class="testimonial-main">
                <div class="container py-5">
                    <h1 class="text-center text-theme-dark">
                        Companies We Are <span class="d-lg-block">Working With</span>
                    </h1>
                    <div class="row pt-4 justify-content-center">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="inner text-white p-3 p-lg-5 p-md-5">
                                <h3>Company 1</h3>
                                <p class="m-0 pt-2 line-height">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    text
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="inner text-white p-3 p-lg-5 p-md-5">
                                <h3>Company 2</h3>
                                <p class="m-0 pt-2 line-height">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    text
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="inner text-white p-3 p-lg-5 p-md-5">
                                <h3>Company 3</h3>
                                <p class="m-0 pt-2 line-height">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    text
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ----FOOTER----- -->
            <section class="footer-main bg-black text-white">
                <div class="container py-3">
                    <div class="addres-box d-md-flex align-items-center justify-content-between">
                        <span>© 2024 - Applied Software House ABOUT US</span>
                        <span>©All Rights Reserved Jahangir.com</span>
                    </div>
                </div>
            </section>

        </div>
    </div>
}