@page "/Reporting/GL"
@attribute [Authorize]
@layout PageLayout

@using AppReports
@using AppliedDB;
@using AppliedAccounts.Data;
@using AppliedAccounts.Models;
@using AppliedAccounts.Libs;
@using AppliedAccounts.Services;
@using System.Data

@inject AuthenticationStateProvider Authorized
@inject ToastService ToastService
@inject PrintService ReportService
@inject GlobalService AppGlobal

@code {
    decimal LedgerBalance;
    decimal TotalDR;
    decimal TotalCR;

    protected override void OnInitialized()
    {
        var AppUser = ((UserAuthenticationStateProvider)Authorized).AppUser;

        Start(AppUser);

        IsPageValid = true;
        if (Source is null) { IsPageValid = false; IsPageValidMessage += " Source is null"; }
        //if (ReportService is null) { IsPageValid = false; IsPageValidMessage += " Report Service is null"; }

        decimal LedgerBalance = 0.00M;
        decimal TotalDR = 0.00M;
        decimal TotalCR = 0.00M;

    }

    protected override void OnAfterRender(bool firstRender)
    {
        LedgerBalance = 0.00M;
        if (firstRender)
        {

        }
    }

 
}

@if (IsPrinting)
{
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <div class="spinner-border text-primary me-2" role="status" aria-hidden="true"></div>
        <div>
            Loading data, please wait...
        </div>
    </div>
}

@if (MsgClass.Count > 0)
{
    <PageErrors Messages="MsgClass" />
}


@if (IsPageValid)
{
    <div class="container d-flex justify-content-center">
        <div class="w-100">
            <div class="row g-2 p-1">
                <div class="col-3">
                    <div class="form-floating">
                        <InputDate id="DateFrom" class="form-control" @bind-Value="MyModel.Date_From"></InputDate>
                        <label for="DateFrom">From</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <InputDate id="DateTo" class="form-control" @bind-Value="MyModel.Date_To"></InputDate>
                        <label for="DateFrom">To</label>
                    </div>
                </div>
            </div>
            <div class="row g-2 p-1">
                <div class="col-6">
                    <div class="form-floating">

                        <InputSelect id="coa_nature" @bind-Value="@MyModel.COAID" class="form-control">
                            @foreach (var item in Accounts)
                            {
                                <option value=@item.ID>@item.Title</option>
                            }
                        </InputSelect>
                        <label for="coa_nature">Account Head</label>
                    </div>
                </div>
            </div>
            <div class="row g-2 p1-">
                <button class="btn btn-primary" @onclick="Refresh">Refresh</button>
            </div>

            @if (!IsPrinting)
            {
                <div class="container control-buttons">
                    <div>
                        <ReportingButtons ReturnValue="Print" ID="@MyModel.COAID" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="table-container">
        @if (MyModel.Ledger is not null)
        {
            <table class="table-list">
                <thead>
                    <tr>
                        <th style="width:8%">Date</th>
                        <th style="width:8%">Voucher</th>
                        <th style="width:20%">Vendor / Client</th>
                        <th style="width:30%">Remarks</th>
                        <th style="width:10%">Debit</th>
                        <th style="width:10%">Credit</th>
                        <th style="width:10%">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow Row in MyModel.Ledger.Rows)
                    {

                        TotalDR += (decimal)Row["DR"];
                        TotalCR += (decimal)Row["CR"];
                        LedgerBalance += ((decimal)Row["DR"] - (decimal)Row["CR"]);

                        string Debit = ((decimal)Row["DR"]).ToString(Format.Digit);
                        string Credit = ((decimal)Row["CR"]).ToString(Format.Digit);
                        string Balance = LedgerBalance.ToString(Format.Digit);
                        string VouDate = ((DateTime)Row["Vou_Date"]).ToString(Format.DDMMMYY);

                        <tr>
                            <td>@Conversion.Row2Date(Row["Vou_Date"], Format.DDMMMYYYY)</td>
                            <td>@Row["Vou_no"].ToString()</td>

                            <td>@Row["CompanyName"].ToString()</td>
                            <td class="left">@Row["Description"].ToString()</td>
                            <td class="amount">@Debit</td>
                            <td class="amount">@Credit</td>
                            <td class="amount-blue">@Balance</td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>TOTAL</td>
                        <td class="amount">@TotalDR</td>
                        <td class="amount">@TotalCR</td>
                        <td class="amount-blue">@LedgerBalance</td>
                    </tr>
                </tfoot>

            </table>
        }


    </div>


}
else
{
    <div class="alert alert-danger" role="alert">
        <string>@IsPageValidMessage</string>
    </div>
}
