@using System.Data
<h3>InvDetails</h3>

@code {
    [Parameter]
    public List<DataRow> SaleDetail { get; set; }



}


<!-- Modal -->
<div class="modal fade" id="ViewInvoice" tabindex="-1" aria-labelledby="ViewInvoiceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ViewInvoiceLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @foreach (DataRow row in SaleDetail)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                @string.Concat("SR No :", @row["SrN_o"])
                            </div>
                            <div class="col-3">
                                @string.Concat("TranID :", @row["TranID"])
                            </div>
                            <div class="col-3">
                                @string.Concat("Batch :", @row["Batch"])
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                @string.Concat("Description :", @row["Description"])
                            </div>
                        </div>

                    </div>

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @* <button type="button" class="btn btn-primary">Save changes</button> *@
            </div>
        </div>
    </div>
</div>
