@page "/Sale/SaleInvoiceList"
@attribute [Authorize]

@using AppliedAccounts.Libs
@using AppliedAccounts.Models
@using AppliedAccounts.Services

@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager NavManager
@inject IJSRuntime js
@inject GlobalService AppGlobal
@inject PrintService ReportService
@inject HttpClient Http

@code {
    private Timer MyTime { get; set; }
    private string CurrentTime { get; set; }



    protected override void OnInitialized()
    {
        try
        {
            MyModel = new(AppGlobal);
            IsDataLoad = true;
        }
        catch (Exception)
        {
            IsDataLoad = false; ;
        }
        IsPrinted = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (IsPrinted)
        {
            await DeletePrintedReports();
        }
    }

    private async Task DeletePrintedReports()
    {
        if (PrintedReports.Count > 0)
        {
            foreach (string FileName in PrintedReports)
            {
                await Task.Run(() =>
                {
                    if (File.Exists(FileName)) { File.Delete(FileName); }
                });
            }
            IsPrinted = false;

        }
    }

    bool IsDataLoad = false;
    string NoRecordFound = "No Record Found....";
    string NavToNew = $"/Sale/SaleInvoice/New";
}


@if (IsDataLoad)
{
    <PageHeading Text="List of Sale Invoices" />
    <PageErrors Messages="@MyModel.MsgClass"></PageErrors>
    @if (IsPrinting)
    {
        <div class="alert alert-info justify-content-center align-items-center" role="alert" style="height:100px">
            <div class="d-flex align-items-center">

                <div class="p-1">
                    <div class="spinner-border text-warning" role="status"></div>
                </div>

                <div class="p-1 text-success">
                    <i class="bi bi-printer fs-1"></i>
                </div>

                <div class="p-1 fw-bolder">
                    @PrintingMessage
                </div>
            </div>

        </div>
    }
    else
    {
        <EditForm Model=@MyModel>

            <div class="container">
                <div class="d-flex filter">
                    <div class="p-2 flex-grow-1">
                        <div class="p-2">
                            <InputText @bind-Value="@MyModel.SearchText"
                                       class="form-control input-sm" id="txtVouNo" placeholder="Type here to search" />

                        </div>
                    </div>
                    <div class="p-2">
                        <button type="button" class="btn btn-primary btn-sm" @onclick="() => MyModel.Search()">Search</button>
                    </div>
                    <div class="p-2">
                        <button type="button" disabled="@(MyModel.SearchText.Length == 0)" class="btn btn-primary btn-sm" @onclick="() => MyModel.ClearText()">Clear</button>
                    </div>

                    <div class="p-2">
                        <button type="submit" disabled="@(MyModel.Records.Count ==0)" class="btn-print" @onclick="(() => PrintAll())"><i class="bi bi-printer-fill"></i> Selected</button>
                        <button type="submit" disabled="@(MyModel.Records.Count ==0)" class="btn-print" @onclick="(() => PrintOnePDF())"><i class="bi bi-printer-fill"></i> One PDF</button>
                    </div>

                </div>
            </div>
        </EditForm>

        <div class="container">
            <table class="table-list">
                <thead>
                    <tr>
                        <th style="width:6%">Sr. No.</th>
                        <th style="width:12%">Voucher</th>
                        <th style="width:5%">Ref No</th>
                        <th style="width:7%">Vou Date</th>
                        <th style="width:7%">Inv Date</th>
                        <th style="width:7%">Pay Date</th>
                        <th style="width:25%">Client</th>
                        <th style="width:9%">City</th>
                        <th style="width:10%">Amount</th>
                        <th style="width:8%" class="td-btn center-btn">
                            <button id="btnAdd" class="tb-btn-add" @onclick="() => Edit(0)"><i class="bi bi-plus-circle-fill"></i></button>
                        </th>
                        <th style="width:4%; justify-items:center">
                            All
                            <input type="checkbox" name="selectRow" value="1" @onclick="SelectAll">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (MyModel.Records.Count > 0)
                    {
                        var SRNO = 0;
                        @foreach (SalesRecord _Record in @MyModel.Records)
                        {
                            var _NavTo = $"/Sale/SaleInvoice/{_Record.Id}";
                            SRNO++;

                            <tr class="tb-body-row">
                                <td>@SRNO</td>
                                <td>@_Record.Vou_No</td>
                                <td>@_Record.Ref_No</td>
                                <td>@AppFunctions.Date2Text(_Record.Vou_Date)</td>
                                <td>@AppFunctions.Date2Text(_Record.Inv_Date)</td>
                                <td>@AppFunctions.Date2Text(_Record.Pay_Date)</td>
                                <td class="tb-col-left">@_Record.TitleCustomer</td>
                                <td class="tb-col-left">@_Record.City</td>
                                <td class="amount">@_Record.Amount.ToString("###,###,##0.00")</td>
                                <td>
                                    <EditButton NavTo="@_NavTo" Title="Edit" />
                                    @* <button type="submit" class="btn-Edit" @onclick="()=>Edit(_Record.Id)"><i class="bi bi-pencil-fill"></i></button> *@
                                    <button type="submit" class="btn-Del" @onclick="() => Delete(_Record.Id)"><i class="bi bi-trash-fill"></i></button>

                                    <PrintButton ReturnValue="Print" VoucherID="@_Record.Id" />
                                </td>
                                <td class="tb-col-center">
                                    <input type="checkbox" name="selectRow" @bind="_Record.IsSelected">
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="10">@NoRecordFound</td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="amount">@MyModel.TotalAmount.ToString("###,###,##0.00")</td>
                        @if (MyModel.Records.Count > 0)
                        {
                            <td colspan="2" class="bg-light center-txt"><button type="submit" class="btn-print" @onclick="(() => PrintAll())"><i class="bi bi-printer-fill"></i> All</button></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        <p>Data Not Load....</p>
    </div>
}
