@using Menus;
@inject IJSRuntime js
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthState

@code {
    [Parameter] public MenusClass MenuClass { get; set; }

    private string buildNum { get; set; } = "2.0.12";
    private bool SubMenu { get; set; } = false;
    private async Task Beep() { await js.InvokeVoidAsync("playBeep"); }
    private async Task MenuClick(int MenuID)
    {
        await js.InvokeVoidAsync("playBeep"); await Task.Delay(100);

        var _SelectedMenu = MenuClass.GetMenu(MenuID);
        if (_SelectedMenu == null) { return; }

        #region Logout User
        if (MenuID == (int)MenuEnum.Menus.Logout)
        {
            var UserService = (UserAuthenticationStateProvider)AuthState;
            await UserService.UpdateAuthonticateState(null);                    // Logout User
            NavManager.NavigateTo("/");
            return;
        }
        #endregion

        #region Home Button
        if (MenuID == (int)MenuEnum.Menus.Home)
        {
            NavManager.NavigateTo("/");
            return;
        }
        #endregion

        #region Menu button Click

        if (_SelectedMenu.Level == 1)
        {
            SubMenu = !SubMenu;
            MenuClass.TopSelected(_SelectedMenu, SubMenu);
        }
        if (_SelectedMenu.Level == 2)
        {
            MenuClass.SecondLevel(_SelectedMenu);
        }
        #endregion

        if (!string.IsNullOrEmpty(_SelectedMenu.NavigateTo))
        {
            NavManager.NavigateTo(_SelectedMenu.NavigateTo);
        }

    }

    protected override void OnInitialized()
    {
        MenuClass ??= new();
    }
}

<div class="sidebar">
    <div class="Menu mt-2">
        @foreach (var Menu in MenuClass.MyMenus)
        {
            if (Menu.Level == MenuClass.TopMenuLevel)
            {
                <button type="button" class="btn-Menu mw" id="btn-TopLevel" @onclick="async () => { await MenuClick(Menu.ID); }"><i class="@Menu.Icon"></i>  @Menu.Title</button>
            }

            if (Menu.Level == MenuClass.TopMenuLevel + 1)
            {
                <button type="button" class="btn-Menu subMenu" id="btn-SubMenu" @onclick="async () => { await MenuClick(Menu.ID); }"><i class="@Menu.Icon text-success"></i>  @Menu.Title</button>
            }
        }

    </div>
    <div class="build">Build: @buildNum</div>
</div>



<style>
    .build {
        position: absolute;
        bottom: 1px;
        left: 3px; 
        font-size: 12px;
        color: #888; 
    }
</style>