@page "/Accounts/Reports/ExpenseSheet"

@using AppliedAccounts.Component.ButtonsDictionery
@using AppliedAccounts.Component.Libs
@using System.Data

@inject IToastService ToastService
@inject PrintService ReportService
@inject GlobalService AppGlobal



<PageHeading Text="Expense Sheet List" />

<EditForm Model="MyModel">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <MyDropDownString Id="ddExpenseSheet"
                                  Label="Expense Sheets"
                                  Value="@MyModel.SelectedSheetNo"
                                  ValueChanged="OnSheetChanged"
                                  Items="SheetTable" />
            </div>

            <div class="col-md-6">
                <div class="d-flex justify-content-end align-items-end gap-2">

                    <div class="form-floating" style="width:300px;">
                        <InputText id="txtSearch"
                                   class="form-control"
                                   placeholder="Search"
                                   @bind-Value="MyModel.SearchText" />

                        <label for="txtSearch">Search</label>
                    </div>

                    <Btn1_Clear OnClick="ClearSearch" />

                </div>
            </div>

        </div>
    </div>
</EditForm>


<div class="expense-page">

    <div class="container-fluid mt-3">

        <!-- TOP BAR -->

        <div class="expense-toolbar">

            <!-- LEFT -->

            <div class="toolbar-side">

                @* <div class="expense-info-item">

                    <span class="expense-info-label">
                        Sheet No :
                    </span>

                    <select class="form-select expense-sheet-select"
                            value="@SelectedSheetNo"
                            @onchange="OnSheetChanged">

                        @if (SheetTable != null && SheetTable.Count > 0)
                        {
                            foreach (var item in SheetTable)
                            {
                                <option value="@item.Code">
                                    @item.Title
                                </option>
                            }
                        }

                    </select>

                </div> *@

                <div class="expense-report-group">

                    <span class="expense-inline-heading">
                        Print Sheet -
                    </span>

                    <ReportingButtons ReturnValue="Print" ID="1" />

                </div>

            </div>

            <!-- CENTER -->

            <div class="toolbar-center">

                <input type="text"
                       class="form-control expense-search-input"
                       placeholder="Type here to search"
                       @bind="SearchText" />

                <button class="btn btn-secondary expense-clear-btn"
                        @onclick="ClearSearch">

                    Clear

                </button>

            </div>

            <!-- RIGHT -->

            <div class="toolbar-side right-side">

                <div class="expense-company-text">

                    Company : Applied Software House

                </div>

                <div class="expense-report-group">

                    <span class="expense-inline-heading">
                        Summary -
                    </span>

                    <ReportingButtons ReturnValue="PrintSummary" ID="2" />

                </div>

            </div>

        </div>        <!-- TABLE -->

        <div class="table-responsive">

            <table class="table-list">
                <thead>
                    <tr>
                        <th style="width:5%">Sr. No.</th>
                        <th style="width:5%">Voucher</th>
                        <th style="width:5%">Ref No</th>
                        <th style="width:5%">Date</th>
                        <th style="width:10%">Account</th>
                        <th style="width:10%">Company / Customer</th>
                        <th style="width:8%" class="amount">Debit</th>
                        <th style="width:8%" class="amount">Credit</th>
                        <th style="width:20%">Description</th>
                    </tr>
                </thead>

                <tbody>

                    @{

                        DataRow[] Rows;

                        if (string.IsNullOrWhiteSpace(SearchText))
                        {
                            Rows = ExpenseTable.Select();
                        }
                        else
                        {
                            Rows = ExpenseTable.Select($@"

                                Vou_No LIKE '%{SearchText}%'
                                OR Ref_No LIKE '%{SearchText}%'
                                OR TitleCOA LIKE '%{SearchText}%'
                                OR TitleCompany LIKE '%{SearchText}%'
                                OR Description LIKE '%{SearchText}%'

                            ");
                        }

                        decimal SearchDR = 0;
                        decimal SearchCR = 0;

                        int sr = 1;

                        foreach (var item in Rows)
                        {
                            SearchDR += Convert.ToDecimal(item["DR"]);
                            SearchCR += Convert.ToDecimal(item["CR"]);
                        }

                    }

                    @foreach (var row in Rows)
                    {

                        <tr>

                            <td>@sr</td>
                            <td class="voucher-text">@row["Vou_No"]</td>
                            <td>@row["Ref_No"]</td>
                            <td>@((string)((DateTime)row["Vou_Date"]).DisplayDate())</td>
                            <td>@row["TitleCOA"]</td>
                            <td>@row["TitleCompany"]</td>
                            <td class="debit-text right">@Convert.ToDecimal(row["DR"]).ToString("N2")</td>
                            <td class="credit-text right">@Convert.ToDecimal(row["CR"]).ToString("N2")</td>
                            <td class="left" sgtyle="margin-left:2px">@row["Description"]</td>
                        </tr>
                        sr++;
                    }

                </tbody>

                <tfoot>

                    <tr>

                        <th colspan="6">
                            TOTAL
                        </th>

                        <th class="text-end">
                            @SearchDR.ToString("N2")
                        </th>

                        <th class="text-end">
                            @SearchCR.ToString("N2")
                        </th>

                        <th></th>

                    </tr>

                </tfoot>

            </table>

        </div>

    </div>

</div>

@code {


    protected override void OnInitialized()
    {
        RptBtn = new()
        {
            PrintType = AppReports.ReportType.Preview,
            VoucherID = 1
        };

        LoadSheets();
    }


     

    
}