@page "/Accounts/Reports/Ledgers"
@attribute [Authorize]
@layout PageLayout

@using AppReports
@using AppliedDB;
@using AppliedAccounts.Data
@using AppliedAccounts.Models
@using AppliedAccounts.Libs
@using AppliedAccounts.Services
@using System.Data

@inject AuthenticationStateProvider Authorized
@inject ToastService ToastService
@inject PrintService ReportService
@inject GlobalService AppGlobal

@code {
	decimal LedgerBalance;
	decimal TotalDR;
	decimal TotalCR;

	protected override void OnInitialized()
	{
		var AppUser = ((UserAuthenticationStateProvider)Authorized).AppUser;

		Start(AppUser);

		IsPageValid = true;
		if (Source is null) { IsPageValid = false; IsPageValidMessage += " Source is null"; }
		//if (ReportService is null) { IsPageValid = false; IsPageValidMessage += " Report Service is null"; }

		decimal LedgerBalance = 0.00M;
		decimal TotalDR = 0.00M;
		decimal TotalCR = 0.00M;

	}

	protected override void OnAfterRender(bool firstRender)
	{
		LedgerBalance = 0.00M;
		if (firstRender)
		{

		}
	}


}

@if (IsPrinting)
{
	<div class="alert alert-primary d-flex align-items-center" role="alert">
		<div class="spinner-border text-primary me-2" role="status" aria-hidden="true"></div>
		<div>
			Loading printing data, please wait...
		</div>
	</div>
}

@if (MsgClass.Count > 0)
{
	<PageErrors Messages="@MsgClass" />
}



@if (IsPageValid)
{
	<div class="accordion mt-2" id="accordionLedger">
		<!-- General Ledger -->
		<div class="accordion-item mt-1">
			<h2 class="accordion-header">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					General Ledger
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionLedger">
				<div class="accordion-body">
					<div class="w-100">
						<div class="row g-2 p-1">
							<div class="col-3">
								<div class="form-floating">
									<InputDate id="DateFrom" class="form-control" @bind-Value="MyModel.Date_From"></InputDate>
									<label for="DateFrom">From</label>
								</div>
							</div>
							<div class="col-3">
								<div class="form-floating">
									<InputDate id="DateTo" class="form-control" @bind-Value="MyModel.Date_To"></InputDate>
									<label for="DateFrom">To</label>
								</div>
							</div>
							<div class="col-6">
								<ShowBrowseWindow Id="ddAccounts"
												  Title="Accounts"
												  @bind-Value="MyModel.COAID"
												  BrowseList="MyModel.AccountList" />
							</div>
						</div>
						<div class="row g-2 p1-">
							<div>
								<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
									<div>
										<button class="btn btn-primary" @onclick="Refresh">Refresh</button>
									</div>
									<div style="display: flex; justify-content: flex-end;">
										@if (!IsPrinting)
										{
											<ReportingButtons ReturnValue="Print" ID="@MyModel.COAID" />
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Supplier / Vendor / Client Ledger Ledger -->
		<div class="accordion-item mt-1">
			<h2 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Supplier / Vendor / Client Ledger
				</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionLedger">
				<div class="accordion-body">
					<div class="w-100">
						<div class="row g-2 p-1">
							<div class="col-3">
								<div class="form-floating">
									<InputDate id="DateFrom" class="form-control" @bind-Value="MyModel.DtFrom_Com"></InputDate>
									<label for="DateFrom">From</label>
								</div>
							</div>
							<div class="col-3">
								<div class="form-floating">
									<InputDate id="DateTo" class="form-control" @bind-Value="MyModel.DtTo_Com"></InputDate>
									<label for="DateFrom">To</label>
								</div>
							</div>
							<div class="col-6">
								<ShowBrowseWindow Id="ddcompany"
												  Title="company"
												  @bind-Value="MyModel.CompanyID"
												  BrowseList="MyModel.CompanyList" />
							</div>
						</div>
					</div>
					<div class="row g-2 p1-">
						<div>
							<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
								<div>
									<button class="btn btn-primary" @onclick="Refresh">Refresh</button>
								</div>
								<div style="display: flex; justify-content: flex-end;">
									@if (!IsPrinting)
									{
										<ReportingButtons ReturnValue="PrintCompany" ID="@MyModel.CompanyID" />
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Employees Ledger -->
		<div class="accordion-item mt-1">
			<h2 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Employee's Ledger
				</button>
			</h2>
			<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionLedger">
				<div class="accordion-body">
					<div class="w-100">
						<div class="row g-2 p-1">
							<div class="col-3">
								<div class="form-floating">
									<InputDate id="DateFrom" class="form-control" @bind-Value="MyModel.DtFrom_Emp"></InputDate>
									<label for="DateFrom">From</label>
								</div>
							</div>
							<div class="col-3">
								<div class="form-floating">
									<InputDate id="DateTo" class="form-control" @bind-Value="MyModel.DtTo_Emp"></InputDate>
									<label for="DateFrom">To</label>
								</div>
							</div>
							<div class="col-6">
								<ShowBrowseWindow Id="ddEmployee"
												  Title="Employee"
												  @bind-Value="MyModel.EmployeeID"
												  BrowseList="MyModel.EmployeeList" />
							</div>
						</div>
					</div>
					<div class="row g-2 p1-">
						<div>
							<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
								<div>
									<button class="btn btn-primary" @onclick="Refresh">Refresh</button>
								</div>
								<div style="display: flex; justify-content: flex-end;">
									@if (!IsPrinting)
									{
										<ReportingButtons ReturnValue="PrintEmployee" ID="@MyModel.EmployeeID" />
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Project Ledger -->
		<div class="accordion-item mt-1">
			<h2 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					Project's Ledger
				</button>
			</h2>
			<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionLedger">
				<div class="accordion-body">
					<div class="w-100">
						<div class="row g-2 p-1">
							<div class="col-3">
								<div class="form-floating">
									<InputDate id="DateFrom" class="form-control" @bind-Value="MyModel.DtFrom_Prj"></InputDate>
									<label for="DateFrom">From</label>
								</div>
							</div>
							<div class="col-3">
								<div class="form-floating">
									<InputDate id="DateTo" class="form-control" @bind-Value="MyModel.DtTo_Prj"></InputDate>
									<label for="DateFrom">To</label>
								</div>
							</div>
							<div class="col-6">
								<ShowBrowseWindow Id="ddProject"
												  Title="Project"
												  @bind-Value="MyModel.ProjectID"
												  BrowseList="MyModel.ProjectList" />
							</div>
						</div>
					</div>
					<div class="row g-2 p1-">
						<div>
							<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
								<div>
									<button class="btn btn-primary" @onclick="Refresh">Refresh</button>
								</div>
								<div style="display: flex; justify-content: flex-end;">
									@if (!IsPrinting)
									{
										<ReportingButtons ReturnValue="PrintProject" ID="@MyModel.ProjectID" />
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

}
else
{
	<div class="alert alert-danger" role="alert">
		<string>@IsPageValidMessage</string>
	</div>
}



<!--
	ADD THIS style for (center the pagination in Footer column.
	Do not Delete 13-09-25
-->
<style>
	.pagination {
		margin: 0px;
	}

	.accordion-button {
		height: 50px;
	}

	.accordion {
		padding-left: 15px;
		padding-right: 15px;
	}


</style>
