@page "/Accounts/Reports/TrialBalance"

@inject GlobalService AppGlobal
@inject PrintService ReportService
@using AppliedAccounts.Libs

@code {

	bool IsPageValidae = false;
	bool IsPrinting = false;

	
}

<PageHeading Text="Trial Balance"/>


@if (IsPrinting)
{
	<div class="alert alert-primary d-flex align-items-center" role="alert">
		<div class="spinner-border text-primary me-2" role="status" aria-hidden="true"></div>
		<div>
			Loading printing data, please wait...
		</div>
	</div>
}

@if (MsgClass.Count > 0)
{
	<PageErrors Messages="@MsgClass" />
}

@if (!IsPageValidae)
{
	<EditForm Model="MyModel" OnValidSubmit="DisplayList">
		<div class="container">
			<div class="row flex-md-row">
				
				<div class="col-md-3">
					<div class="form-floating">
						<InputDate id="DateFrom" class="form-control" @bind-Value="MyModel.TB_From" @bind-Value:after="DisplayList"></InputDate>
						<label for="DateFrom">From</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-floating">
						<InputDate id="DateTo" class="form-control" @bind-Value="MyModel.TB_To" @bind-Value:after="DisplayList"></InputDate>
						<label for="DateFrom">To</label>
					</div>
				</div>
				<div class="col-md-2">
					<select @bind="MyModel.TB_Option" @bind:after="DisplayList"  class="form-select">
						@foreach (var option in MyModel.OptionTypes)
						{
							<option value="@option.Key">@option.Value</option>
						}
					</select>
				</div>
				<div class="col-md-2">
					<select class="form-select" @bind="MyModel.TB_Type" @bind:after="DisplayList">
						<option value="1">Trial Balance</option>
						<option value="2">Project Balances</option>
						<option value="3">Company Balances</option>
						<option value="4">Employee Balances</option>
					</select>
				</div>
				<div class="col-md-2">
					<div style="display: flex; justify-content: flex-end;">
						@if (!IsPrinting)
						{
							<ReportingButtons ReturnValue="Print"/>
						}
					</div>
				</div>
			</div>
		</div>
	</EditForm>

	<div class="container mt-2">
		<table class="table-list">
			<thead>
				<tr>
					<th>Code</th>
					<th>Title</th>
					<th>Debit</th>
					<th>Credit</th>
					<th>Amount</th>
					<th>Ledger</th>
				</tr>
			</thead>
			<tbody>
				@foreach (TBListModel Account in AccList)
				{
					<tr>
						<td>@Account.Code</td>
						<td>@Account.Title</td>
						<td>@Account.DR.Display()</td>
						<td>@Account.CR.Display()</td>
						<td>@Account.Amount.Display()</td>
						<td>
							<button class="btn-print" @onclick="PrintLedger"></button>
						</td>
					</tr>
				}
			</tbody>
			<tfoot></tfoot>
		</table>
	</div>

}
