@page "/Accounts/CashBook/{BookID:int}/{Vou_No}/{PageLang:int}"


@attribute [Authorize];
@using AppliedAccounts2.Libs;
@using AppliedAccounts2.Pages.Libs;
@using AppliedAccounts2.Models;
@using AppLanguages

@inject AuthenticationStateProvider authStateProvider;
@inject NavigationManager NavManager;
@inject IJSRuntime js;
@inject Globals _Globals;


@code {
    [Parameter] public int BookID { get; set; }
    [Parameter] public int PageLang { get; set; } = 1;
    [Parameter] public string Vou_No { get; set; } = string.Empty;

    public int? LangID { get; set; }
    public string NavTo { get; set; } = "/";

    Globals AppGlobals { get; set; }
    decimal Tot_Debit { get; set; }
    decimal Tot_Credit { get; set; }
    string NumberFormat { get; set; }

    protected override void OnInitialized()
    {
        Profile = ((UserAuthonticationStateProvider)authStateProvider).AppUser;
        Model = new(Profile, BookID, Vou_No, (Languages)PageLang);


        //Model.LoadData();
        Model.GetModelValidation();
        Booktitle = Model.TitleBook ?? "CASH BOOK";

        Globals AppGlobals = _Globals;
        NumberFormat = AppGlobals.Currency.Format ?? "#,##0.00";

        NavTo = $"/Accounts/CashBook/{BookID}/{Vou_No}";
    }

    protected override void OnAfterRender(bool firstRender)
    {

    }
}

<CascadingValue Value="@LangID">
    <CascadingValue Value="@NavTo">
        <SelectLanguage></SelectLanguage>
    </CascadingValue>
</CascadingValue>

<PageHeading Text=@Booktitle />

@if (Model.IsModelValid)
{
    <EditForm Model="Model" OnSubmit="Submit">
        <div class="container">
            <div class=row>
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Model.TitleBook" id="txtVouNo" readonly class="form-control" placeholder="Voucher Number" />
                        <label for="txtVouno">Cash Book Title</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Model.Record.Vou_No" id="txtVouNo" readonly class="form-control" placeholder="Voucher Number" />
                        <label for="txtVouno">@LangClass.VouNo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <InputDate @bind-Value="Model.Record.Vou_Date"
                                   id="txtVouDate" class="form-control" placeholder="Voucher Date" />
                        <label for="txtVouDate">@LangClass.VouDate</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Model.Record.Ref_No" id="txtRefNo" class="form-control" placeholder="Reference" />
                        <label for="txtRefno">@LangClass.RefNo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Model.Record.Sheet_No" id="txtSheetNo" class="form-control" placeholder="Expense sheet No." />
                        <label for="txtSheetno">@LangClass.ExpSheet</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <InputSelect id="ddCompany" class="form-select"
                                     TValue="int"
                                     Value="@Model.Record.Company"
                                     ValueExpression="@(() => Model.Record.Company)"
                                     ValueChanged="@((e) => CompanyChanged(e))">
                            @foreach (CodeTitle _CodeTitle in Model.Companies)
                            {
                                <option value=@_CodeTitle.ID>@_CodeTitle.Title</option>
                            }
                        </InputSelect>
                        <label for="ddCompany">@LangClass.Company</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <InputSelect id="ddSaleman" class="form-select"
                                     TValue="int"
                                     Value="@Model.Record.Employee"
                                     ValueExpression="@(() => Model.Record.Employee)"
                                     ValueChanged="@((e) => EmployeeChanged(e))">
                            @foreach (CodeTitle _CodeTitle in Model.Employees)
                            {
                                <option value=@_CodeTitle.ID>@_CodeTitle.Title</option>
                            }
                        </InputSelect>
                        <label for="ddSaleman">@LangClass.Employee</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <InputSelect id="ddAccount" class="form-select"
                                     TValue="int"
                                     Value="@Model.Record.COA"
                                     ValueExpression="@(() => Model.Record.COA)"
                                     ValueChanged="@((e) => AccountChanged(e))">
                            @foreach (CodeTitle _CodeTitle in Model.Accounts)
                            {
                                <option value=@_CodeTitle.ID>@_CodeTitle.Title</option>
                            }
                        </InputSelect>
                        <label for="ddAccount">@LangClass.Account</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <InputNumber @bind-Value="Model.Record.DR" id="txtDR" step=".01" class="form-control" placeholder="Voucher Number" />
                        <label for="txtDR">Paid / Debit</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <InputNumber @bind-Value="Model.Record.CR" id="txtCR" step=".01" class="form-control" placeholder="Voucher Number" />
                        <label for="txtCR">@LangClass.Received</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <InputSelect id="ddProject" class="form-select"
                                     TValue="int"
                                     Value="@Model.Record.Project"
                                     ValueExpression="@(() => Model.Record.Project)"
                                     ValueChanged="@((e) => ProjectChanged(e))">
                            @foreach (CodeTitle _CodeTitle in Model.Projects)
                            {
                                <option value=@_CodeTitle.ID>@_CodeTitle.Title</option>
                            }
                        </InputSelect>
                        <label for="ddProject">@LangClass.Project</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Model.Record.Description"
                                   id="txtDescription" class="form-control" placeholder="Voucher Date" />
                        <label for="txtDescription">@LangClass.Description</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Model.Record.Comments"
                                   id="txtDescription" class="form-control" placeholder="Voucher Date" />
                        <label for="txtDescription"><p>@LangClass.Comments <small> --non printable</small> </p></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <button class="btn btn-primary" @onclick="Model.Update">@LangClass.Update</button>
                    <button class="btn btn-primary" @onclick="New">@LangClass.New</button>
                    <button class="btn btn-primary" @onclick="Delete">@LangClass.Delete</button>
                    <button class="btn btn-primary" @onclick="Save">@LangClass.Save</button>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <InputSelect id="ddCompany" class="form-select"
                                     TValue="int"
                                     Value="Model.LangClass.LangInt"
                                     ValueExpression="@(() => Model.LangClass.LangInt)"
                                     ValueChanged="@((e) => LanguageChanged(e))">
                            @foreach (var item in Model.LangClass.LangList)
                            {
                                <option value=@item.Key>@item.Value</option>
                            }
                        </InputSelect>
                        <label for="ddCompany">Select Language</label>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Records.Count > 0)
        {
            <div class="container mt-2">
                <table class="AppTable">
                    <thead class="tb-head">
                        <tr class="tb-head-row">
                            <td style="width:10%">Reference</td>
                            <td style="width:10%">Account Title</td>
                            <td style="width:10%">Description</td>
                            <td style="width:10%" class="amount">Paid</td>
                            <td style="width:10%" class="amount">Recevied</td>
                            <td style="width:10%">
                            </td>
                        </tr>
                    </thead>
                    <tbody class="tb-body">
                        @foreach (CashRecord _Record in Model.Records)
                        {
                            Tot_Debit = Tot_Debit + _Record.DR;
                            Tot_Credit = Tot_Credit + _Record.CR;

                            <tr class="tb-body-row">
                                <td>@_Record.Ref_No</td>
                                <td>@_Record.TitleAccount</td>
                                <td>@_Record.Description</td>
                                <td class="amount">@_Record.DR.ToString(NumberFormat)</td>
                                <td class="amount">@_Record.CR.ToString(NumberFormat)</td>
                                <td>
                                    <div style="text-align-last: center;">
                                        <button type="button" class="btn btn-Edit"><i class="bi bi-pencil-fill"></i></button>
                                        <button type="button" class="btn btn-Del"><i class="bi bi-trash-fill"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="tb-foot">
                        <tr class="tb-foot-row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="amount">@Tot_Debit.ToString(NumberFormat)</td>
                            <td class="amount">@Tot_Credit.ToString(NumberFormat)</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
    </EditForm>
}
else
{
    <PageErrors Messages="@Model.MyMessages" />
    <button id="btnRefresh" @onclick="Refresh">Back</button>
}
