@layout PageLayout;
@page "/Accounts/BooksList";
@attribute [Authorize];
@using AppliedAccounts.Libs;
@using AppliedAccounts.Models;
@using AppliedAccounts.Data;
@using AppliedAccounts.Services
@using AppliedDB
@using System.Data

@inject AuthenticationStateProvider authorized;

@inject IJSRuntime js
@inject GlobalService AppGlobals;

@code {

    private string UserRoll;
    private string DateFormat = Format.DDMMYY;
    private string CurrFormat = Format.Currency;
    private decimal Tot_DR = 0.0M;
    private decimal Tot_CR = 0.0M;


    protected override void OnInitialized()
    {
        UserProfile = ((UserAuthonticationStateProvider)authorized).AppUser;
        MyModel = new(0, UserProfile);   // BookID and UserProfile.
        MyModel.Source = new(UserProfile);
        MyModel.AppGlobals = AppGlobals;
        MyModel.GetKeys();
        MyModel.ReportService = new();
        NavManager = AppGlobals.NavManager;
    }

    private void BookNatureChanged(int _NatureID)
    {
        MyModel.BookNatureID = _NatureID;
        MyModel.BookID = MyModel.Source.GetBookAccounts(MyModel.BookNatureID).First()?.ID ?? 0;
    }

    private void BookListChanged(int _BookID)
    {
        MyModel.BookID = _BookID; //result;
        MyModel.BookRecords = MyModel.LoadBookRecords(MyModel.BookID);
    }
}

<ShowPageHeading PageTitle="@MyModel.BookNatureTitle"/>
<ShowMessages MsgClass="MyModel.MsgClass"/>


@if(MyModel.IsWaiting)
{
    <ShowWaiting MyMessage="Printing Report....."/>
}



<EditForm Model="@MyModel">
    <div class="d-flex flex-row mb-3 filter" hidden="@MyModel.IsWaiting">
        <div class="p-2">
            <InputSelect id="ddBook" class="item-height"
                         TValue="int"
                         Value="@MyModel.BookNatureID"
                         ValueExpression="@(() => MyModel.BookNatureID)"
                         ValueChanged="@((e) => BookNatureChanged(e))">

                @foreach (var item in MyModel.NatureAccountsList)
                {
                    <option value="@item.ID">@item.Title</option>
                }

            </InputSelect>
        </div>
        <div class="p-2">
            <InputSelect id="ddBook" class="item-height"
                         TValue="int"
                         Value="@MyModel.BookID"
                         ValueExpression="@(()=> MyModel.BookID)"
                         ValueChanged="@((e)=>BookListChanged(e))">

                @foreach (var item in MyModel.Source.GetBookAccounts(MyModel.BookNatureID))
                {
                    <option value="@item.ID">@item.Title</option>
                }
            </InputSelect>
        </div>
        <div class="p-2">
            <InputDate id="dateStat" class="item-height" @bind-Value="MyModel.DT_Start">

            </InputDate>
        </div>
        <div class="p-2">
            <InputDate id="dateStat" class="item-height" @bind-Value="MyModel.DT_End">

            </InputDate>
        </div>
        <div class="p-2 search-btn">
            <label for="floatingInput">
                <InputText id="txtSearch" class="item-height" placeholder="Filter list"
                           @bind-Value="MyModel.SearchText"
                           @onclick="Refresh">
                </InputText>
            </label>
        </div>
        <div class="p-2">
            <button type="submit" class="btn btn-refresh" @onclick="Refresh" title="Refresh"></button>
            <button type="submit" class="btn btn-new" @onclick="New" title="New"></button>
        </div>
        <div class="p-2">
        </div>
    </div>

    <div class="container">
        @if (MyModel.BookRecords != null)
        {
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Voucher</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Received</th>
                        <th>Paid</th>
                        <th>Balance</th>
                        <th>
                            <button class="btn btn-Add"><i class="bi bi-pencil-fill"></i></button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BookView Record in MyModel.LoadBookRecords(MyModel.BookID))
                    {
                        string _NavTo = $"/Accounts/Books/{Record.ID}/{MyModel.BookID}";
                        <tr>
                            <td>@Record.Vou_No</td>
                            <td>@Record.Vou_Date.ToString(Format.DDMMMYY)</td>
                            <td class="left">@Record.Description</td>
                            <td class="amount">@Record.TReceived</td>
                            <td class="amount">@Record.TPaid</td>
                            <td class="amount">@Record.TBalance</td>
                            <td>
                                <EditButton NavTo=@_NavTo Title="Edit Voucher" />
                                <PrintButton ReturnValue="Print" VoucherID=Record.ID />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="alert alert-warning" role="alert">
                        No records found
                    </div>

                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary" @onclick="New"></button>
                </div>
            </div>
        }
    </div>
</EditForm>