@layout PageLayout;
@page "/Accounts/Books";
@page "/Accounts/Books/{ID:int}/{BookID:int}"
@attribute [Authorize];

@using AppliedAccounts.Libs;
@using AppliedAccounts.Models;
@using AppliedAccounts.Data;
@using AppliedAccounts.Services
@using AppliedDB
@using System.Data

@inject AuthenticationStateProvider authorized
@inject NavigationManager NavManager
@inject IJSRuntime js
@inject ToastService ToastService
@inject PrintService ReportService
@inject GlobalService AppGlobals

@code {

    //private string UserRoll;
    private string DateFormat = Format.DDMMYY;
    private string CurrFormat = Format.Currency;
    private decimal Tot_DR = 0.0M;
    private decimal Tot_CR = 0.0M;
    private string ErrorMessage = string.Empty;

    private bool IsVisible { get; set; }
    private string? Message { get; set; }
    private string ToastCssClass { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        UserProfile = ((UserAuthonticationStateProvider)authorized).AppUser;
        Start();
        Toast = new();
    }


}

<style>
    .myContainer .row {
        display: flex;
        justify-content: center; /* Centers horizontally */
        gap: 0px; /* Optional: Adds spacing between columns */
    }
</style>

<ShowPageHeading PageTitle="CASH OR BANK BOOK" />
<PageErrors Messages="@MyModel.MsgClass" />

@if(MyModel.IsWaiting)
{
    <ShowWaiting MyMessage="Printig Report....."/>
}


@if (IsPageValid)
{
       <!-- Form Control -->
    <EditForm Model="@MyModel">
        <div class="container myContainer flex-md-row ">

            <input @bind-value="MyModel.MyVoucher.Master.ID1" hidden />
            <input @bind-value="MyModel.MyVoucher.Master.Status" hidden />
            <input @bind-value="MyModel.MyVoucher.Detail.ID2" hidden />
            <input @bind-value="MyModel.MyVoucher.Detail.action" hidden />

            <div class="row g-md-2 mb-2 my-2">
                <div class="col-md-4">

                    <div class="form-floating">
                        <InputSelect id="ddBook" class="form-control item-height"
                                     TValue="int"
                                     Value="@MyModel.MyVoucher.Master.BookID"
                                     ValueExpression="@(() => @MyModel.MyVoucher.Master.BookID)"
                                     ValueChanged="@((e) => BookIDChanged(e))">
                            @if (MyModel.BookList.Any())
                            {
                                @foreach (var item in MyModel.BookList)
                                {
                                    <option value="@item.ID">@item.Title</option>
                                }
                            }
                            else
                            {
                                <option value="0">No Records</option>
                            }

                        </InputSelect>
                        <label for="ddBook">@MyModel.BookNatureTitle</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText class="form-control" id="txtVouNo" placeholder="Voucher No"
                                   @bind-Value="MyModel.MyVoucher.Master.Vou_No">
                        </InputText>
                        <label for="txtVouNo">Voucher Number</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputDate class="form-control" id="dtVouDate" placeholder="Voucher Date"
                                   @bind-Value="MyModel.MyVoucher.Master.Vou_Date">
                        </InputDate>
                        <label for="dtVouDate">Voucher Date</label>
                    </div>
                </div>
            </div>
            <div class="row g-md-2  mb-2">
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText class="form-control" id="txtRefNo" placeholder="Reference number"
                                   @bind-Value="MyModel.MyVoucher.Master.Ref_No">
                        </InputText>
                        <label for="txtRefNo">Reference Number</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText class="form-control" id="txtSheetNo" placeholder="Petty cash sheet number"
                                   @bind-Value="MyModel.MyVoucher.Master.SheetNo">
                        </InputText>
                        <label for="txtSheetNo">Petty Cash Sheet No.</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText class="form-control" id="txtRemarks" placeholder="Remarks"
                                   @bind-Value="MyModel.MyVoucher.Master.Remarks">
                        </InputText>
                        <label for="txtRemarks">Remarks</label>
                    </div>
                </div>
            </div>
            <hr class="divder-line" />
            <div class="row  g-md-2 mb-2">

                <div class="col-md-4">
                    <div class="form-floating">
                        <InputNumber class="form-control" id="txtSRNO" placeholder="Serail No"
                                     @bind-Value="MyModel.MyVoucher.Detail.Sr_No">
                        </InputNumber>
                        <label for="txtSRNO">Serial No</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputSelect id="ddAccounts" class="form-control item-height"
                                     TValue="int"
                                     Value="@MyModel.MyVoucher.Detail.COA"
                                     ValueExpression="@(() => @MyModel.MyVoucher.Detail.COA)"
                                     ValueChanged="@((e) => AccountIDChanged(e))">
                            @if (MyModel.Accounts.Any())
                            {
                                @foreach (var item in MyModel.Accounts)
                                {
                                    <option value="@item.ID">@item.Title</option>
                                }
                            }
                            else
                            {
                                <option value="0">No Records - Accounts</option>
                            }

                        </InputSelect>
                        <label for="ddAccounts">Account</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputSelect id="ddCompany" class="form-control item-height"
                                     TValue="int"
                                     Value="@MyModel.MyVoucher.Detail.Company"
                                     ValueExpression="@(() => @MyModel.MyVoucher.Detail.Company)"
                                     ValueChanged="@((e) => CompanyIDChanged(e))">
                            @if (MyModel.Companies.Any())
                            {
                                @foreach (var item in MyModel.Companies)
                                {
                                    <option value="@item.ID">@item.Title</option>
                                }
                            }
                            else
                            {
                                <option value="0">No Records -  Company</option>
                            }

                        </InputSelect>
                        <label for="ddCompany">Company / Customer / Sub Account</label>
                    </div>
                </div>

            </div>

            <div class="row g-md-2 mb-2">
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputSelect id="ddEmployee" class="form-control item-height"
                                     TValue="int"
                                     Value="@MyModel.MyVoucher.Detail.Employee"
                                     ValueExpression="@(() => @MyModel.MyVoucher.Detail.Employee)"
                                     ValueChanged="@((e) => EmployeeIDChanged(e))">
                            @if (MyModel.Employees.Any())
                            {
                                @foreach (var item in MyModel.Employees)
                                {
                                    <option value="@item.ID">@item.Title</option>
                                }
                            }
                            else
                            {
                                <option value="0">No Records - Employee</option>
                            }

                        </InputSelect>
                        <label for="ddEmployee">Employee</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputSelect id="ddProject" class="form-control item-height"
                                     TValue="int"
                                     Value="@MyModel.MyVoucher.Detail.Project"
                                     ValueExpression="@(() => @MyModel.MyVoucher.Detail.Project)"
                                     ValueChanged="@((e) => ProjectIDChanged(e))">
                            @if (MyModel.Employees.Any())
                            {
                                @foreach (var item in MyModel.Projects)
                                {
                                    <option value="@item.ID">@item.Title</option>
                                }
                            }
                            else
                            {
                                <option value="0">No Records - Project</option>
                            }

                        </InputSelect>
                        <label for="ddProject">Project</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText class="form-control" id="txtComments" placeholder="Comments (if any)"
                                   @bind-Value="MyModel.MyVoucher.Detail.Comments">
                        </InputText>
                        <label for="txtComments">Comments</label>
                    </div>
                </div>
            </div>
            <div class="row g-md-2 mb-2">
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputNumber class="form-control" id="txtPaid" placeholder="Amount Paid"
                                     @bind-Value="MyModel.MyVoucher.Detail.DR">
                        </InputNumber>
                        <label for="txtPaid">Paid</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputNumber class="form-control" id="txtReceived" placeholder="Amount Received"
                                     @bind-Value="MyModel.MyVoucher.Detail.CR">
                        </InputNumber>
                        <label for="txtReceived">Received</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText class="form-control" id="txtDescription" placeholder="Description"
                                   @bind-Value="MyModel.MyVoucher.Detail.Description">
                        </InputText>
                        <label for="txtDescription">Description</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-row mb-3 filter position-relative">
                <div class="p-2">
                    <button type="button" class="btn btn-sm w1 btn-info" title="New" @onclick="MyModel.New"><i class="far fa-plus-square"></i></button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-sm w1 btn-primary" title="Save" @onclick="MyModel.Save"><i class="fa-solid fa-arrow-down"></i></button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-sm w1 btn-success" data-bs-toggle="modal" data-bs-target="#SaveVoucher"><i class="fas fa-save"></i></button>
                </div>

                @if (MyModel.MyVoucher != null && MyModel.MyVoucher.Details.Count > 0)
                {
                    <div class="btn-group p-2" role="group" aria-label="Navigation">
                        <button type="button" class="btn btn-sm w1 btn-light" title="Top" @onclick="MyModel.Top"><i class="fa fa-angles-left"></i></button>
                        <button type="button" class="btn btn-sm w1 btn-light" title="Next" @onclick="MyModel.Next"><i class="fa fa-angle-right"></i></button>
                        <button type="button" class="btn btn-sm w1 btn-light" title="Back" @onclick="MyModel.Back"><i class="fa fa-angle-left"></i></button>
                        <button type="button" class="btn btn-sm w1 btn-light" title="Last" @onclick="MyModel.Last"><i class="fa fa-angles-right"></i></button>
                    </div>
                }
                <div><ReportingButtons ReturnValue="Print" ID="@MyModel.MyVoucher!.Master.ID1"/></div>
                <!-- Float Back Button to the Right -->
                <div class="p-2 ms-auto">
                    <button type="button" class="btn btn-sm w1 btn-warning" title="Back" @onclick="BackPage"><i class="bi bi-arrow-left-circle"></i></button>
                </div>
            </div>
        </div>

        <style>
            .w1 {
                width: 35px;
            }
        </style>

        @if (MyModel.MyVoucher != null)
        {
            @if (MyModel.MyVoucher.Details.Count > 0)
            {
                <div class="container">
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Account</th>
                                <th>Company</th>
                                <th>Description</th>
                                <th>Paid</th>
                                <th>Received</th>
                                <th>
                                    <button class="btn btn-Add"><i class="fa fa-square-plus" style="font-size:24px"></i></button>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in MyModel.MyVoucher.Details)
                            {
                                Tot_DR += item.DR;
                                Tot_CR += item.CR;

                                <tr>
                                    <td style="width:5%">@item.Sr_No</td>
                                    <td style="width:15%">@item.TitleAccount</td>
                                    <td style="width:15%">@item.TitleCompany</td>
                                    <td style="width:30%">@item.Description</td>
                                    <td style="width:15%" class="amount">@item.DR</td>
                                    <td style="width:15%" class="amount">@item.CR</td>
                                    <th style="width:5%">
                                        <button class="btn btn-Edit" @onclick="(()=>MyModel.Edit(item.Sr_No))"><i class="fa fa-keyboard"></i></button>
                                        @* <button class="btn btn-Del" @onclick="(()=>MyModel.Remove(item.Sr_No))"><i class="fa fa-trash-can"></i></button> *@
                                    </th>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>TOTAL</td>
                                <td></td>
                                <td class="amount">@Tot_DR</td>
                                <td class="amount">@Tot_DR</td>
                                <td>
                                    <button class="btn btn-Add"><i class="fa fa-square-plus" style="font-size:24px"></i></button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
        }



        <!-- Modal -->
        <div class="modal fade" id="SaveVoucher" tabindex="-1" aria-labelledby="SaveVoucherLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="SaveVoucherLabel">SAVE @MyModel.BookNatureTitle</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @if (MyModel.MyVoucher?.Details.Count > 0)
                        {
                            <p>Save Voucher No @MyModel.MyVoucher?.Master.Vou_No</p>
                        }
                        else
                        {
                            <p>No transactions found to save</p>
                        }


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        @if (MyModel.MyVoucher?.Details.Count > 0)
                        {
                            <button type="submit" class="btn btn-success btn-sm" title="Save All" @onclick="SaveAll"> Save</button>
                        }

                    </div>
                </div>
            </div>
        </div>






    </EditForm>

    <!-- Toast -->
    <div class="toast-container position-fixed @Toast.GetPosition()">
        @if (Toast.ShowToast)
        {
            <ShowToastMessage toastClass="@Toast"></ShowToastMessage>
        }
    </div>

}
else
{
    <div class="alert alert-danger">
        @ErrorMessage
    </div>
}

@* <button class="btn btn-primary" @onclick="(()=>ShowToast(ToastClass.SaveToast))">Save</button>
<button class="btn btn-primary" @onclick="(()=>ShowToast(ToastClass.DeleteToast))">Delete</button> *@

