@layout PageLayout;
@page "/Accounts/BooksList";
@attribute [Authorize];
@using AppliedAccounts.Libs;
@using AppliedAccounts.Models;
@using AppliedAccounts.Data;
@using AppliedAccounts.Services
@using AppliedDB
@using System.Data

<!-- inject AuthenticationStateProvider authorized;-->

@inject IJSRuntime js
@inject GlobalService AppGlobal;

@code {

    private string UserRoll;
    private string DateFormat = Format.DDMMYY;
    private string CurrFormat = Format.Currency;
    private decimal Tot_DR = 0.0M;
    private decimal Tot_CR = 0.0M;


    protected override void OnInitialized()
    {
        MyModel = new(0, AppGlobal);   // BookID and UserProfile.
        MyModel.GetKeys();
        NavManager = AppGlobal.NavManager;
    }

    // protected override void OnAfterRender(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         MyModel.Pages.Count = (int)Math.Ceiling(MyModel.TotalRecord / (double)MyModel.Pages.Size);
    //     }
    // }


    private void BookNatureChanged(int _NatureID)
    {
        MyModel.BookNatureID = _NatureID;
        MyModel.BookID = MyModel.Source.GetBookAccounts(MyModel.BookNatureID).First()?.ID ?? 0;
    }

    private void BookListChanged(int _BookID)
    {
        MyModel.BookID = _BookID; //result;
    }

    private void PageClick(MouseEventArgs e)
    {
        
    }
}

<ShowPageHeading PageTitle="@MyModel.BookNatureTitle"/>
<ShowMessages MsgClass="MyModel.MsgClass"/>


@if(MyModel.IsWaiting)
{
    <ShowWaiting MyMessage="Printing Report....."/>
}
else
{
<EditForm Model="@MyModel">
    <div class="d-flex flex-row mb-3 filter" hidden="@MyModel.IsWaiting">
        <div class="p-2">
            <InputSelect id="ddBook" class="item-height"
                         TValue="int"
                         Value="@MyModel.BookNatureID"
                         ValueExpression="@(() => MyModel.BookNatureID)"
                         ValueChanged="@((e) => BookNatureChanged(e))">

                @foreach (var item in MyModel.NatureAccountsList)
                {
                    <option value="@item.ID">@item.Title</option>
                }

            </InputSelect>
        </div>
        <div class="p-2">
            <InputSelect id="ddBook" class="item-height"
                         TValue="int"
                         Value="@MyModel.BookID"
                         ValueExpression="@(()=> MyModel.BookID)"
                         ValueChanged="@((e)=>BookListChanged(e))">

                @foreach (var item in MyModel.Source.GetBookAccounts(MyModel.BookNatureID))
                {
                    <option value="@item.ID">@item.Title</option>
                }
            </InputSelect>
        </div>
        <div class="p-2">
            <InputDate id="dateStat" class="item-height" @bind-Value="MyModel.DT_Start">

            </InputDate>
        </div>
        <div class="p-2">
            <InputDate id="dateStat" class="item-height" @bind-Value="MyModel.DT_End">

            </InputDate>
        </div>
        <div class="p-2 search-btn">
            <label for="floatingInput">
                <InputText id="txtSearch" class="item-height" placeholder="Filter list"
                           @bind-Value="MyModel.SearchText"
                           @onclick="Refresh">
                </InputText>
            </label>
        </div>
        <div class="p-2">
            <Btn_Refresh OnClick="Refresh"/>
            <Btn_Add OnClick="New"/>
            @* <button type="submit" class="btn btn-refresh" @onclick="Refresh" title="Refresh"></button>
            <button type="submit" class="btn btn-new" @onclick="New" title="New"></button> *@
        </div>
        
    </div>

    <div class="container">
       
            <table class="table-list">
                <thead>
                    <tr>
                        <th style="width:10%">Voucher</th>
                        <th style="width:10%">Date</th>
                        <th style="width:40%">Description</th>
                        <th style="width:10%">Received</th>
                        <th style="width:10%">Paid</th>
                        <th style="width:10%">Balance</th>
                        <th style="width:10%">
                            <button class="btn btn-Add"><i class="bi bi-pencil-fill"></i></button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BookView Record in MyModel.LoadBookRecords(MyModel.BookID))
                    {
                        string _NavTo = $"/Accounts/Books/{Record.ID}/{MyModel.BookID}";
                        <tr>
                            <td>@Record.Vou_No</td>
                            <td>@Record.Vou_Date.ToString(Format.DDMMMYY)</td>
                            <td class="left">@Record.Description</td>
                            <td class="amount">@Record.TReceived</td>
                            <td class="amount">@Record.TPaid</td>
                            <td class="amount">@Record.TBalance</td>
                            <td>
                                <EditButton NavTo=@_NavTo Title="Edit Voucher" />
                                <PrintButton ReturnValue="Print" VoucherID=Record.ID />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

             <div class="d-flex">
                   <div class="p-1" style="height:40px">
                       <NavPageBar Paging="MyModel.Pages"></NavPageBar>
                   </div>
            </div>
       
    </div>
    
</EditForm>
}