@page "/Accounts/Projects"
@namespace AppliedAccounts.Pages.Accounts
@using AppliedAccounts.Libs
@using Microsoft.AspNetCore.Components.Forms
@inject GlobalService AppGlobal


@code {

    private bool IsSubmitting { get; set; } = false;
    private string SubmitMessage { get; set; } = string.Empty;
    

    protected override void OnInitialized()
    {
        Source = new(AppGlobal.AppPaths);
        MyModel = new ProjectsViewModel();
        LoadData();
    }

    

    private async Task HandleValidSubmit()
    {
        IsSubmitting = true;

        await Task.Delay(1000); // Simulate async operation

        SubmitMessage = "Project saved successfully!";
        IsSubmitting = false;
    }

    
}

<PageHeading Text="List of Projects"></PageHeading>
<ShowMessages MsgClass="MsgClass"></ShowMessages>



<EditForm Model="MyModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />



    <div class="container myContainer flex-md-row ">

        <input @bind-value="MyModel.ID" hidden />

        <div class="row">
            <div class="col-md-4">
                <div class="form-floating">
                    
                    <InputText id="code" class="form-control" @bind-Value="MyModel.Code" />
                    <label for="code">Code *</label>
                    <ValidationMessage For="@(() => MyModel.Code)" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating">
                    
                    <InputText id="title" class="form-control" @bind-Value="MyModel.Title" />
                    <label for="title">Title *</label>
                    <ValidationMessage For="@(() => MyModel.Title)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-floating">
                    <InputSelect id="ddCompany" class="form-control item-height" TValue="long" Value="@MyModel.Client" ValueExpression="@(() => @MyModel.Client)" ValueChanged="@((e) => CompanyIDChanged(e))">
                        @if (Clients.Any())
                        {
                            @foreach (var item in Clients)
                            {
                                <option value="@item.ID">@item.Title</option>
                            }
                        }
                        else
                        {
                            <option value="0">No Records -  Clients</option>
                        }

                    </InputSelect>
                    <label for="ddCompany">Clients</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <InputSelect id="ddEmployee" class="form-control item-height" TValue="long" Value="@MyModel.ProjectManager" ValueExpression="@(() => @MyModel.ProjectManager)" ValueChanged="@((e) => EmployeeIDChanged(e))">
                        @if (Employees.Any())
                        {
                            @foreach (var item in Employees)
                            {
                                <option value="@item.ID">@item.Title</option>
                            }
                        }
                        else
                        {
                            <option value="0">No Records -  Employee</option>
                        }

                    </InputSelect>
                    <label for="ddEmployee">Project Manager</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-floating">
                    
                    <InputNumber id="budget" class="form-control" @bind-Value="MyModel.Budget" />
                    <label for="budget">Budget (Amount)</label>
                    <ValidationMessage For="@(() => MyModel.Budget)" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating">
                    
                    <InputNumber id="actualCost" class="form-control" @bind-Value="MyModel.ActualCost" />
                    <label for="actualCost">Actual Cost (Amount)</label>
                    <ValidationMessage For="@(() => MyModel.ActualCost)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-floating">
                    
                    <InputDate id="startDate" class="form-control" @bind-Value="MyModel.StartDate" />
                    <label for="startDate">Start Date</label>
                    <ValidationMessage For="@(() => MyModel.StartDate)" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating">
                    <InputDate id="endDate" class="form-control" @bind-Value="MyModel.EndDate" />
                    <label for="endDate">End Date</label>
                    <ValidationMessage For="@(() => MyModel.EndDate)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-floating">
                    <InputText id="location" class="form-control" @bind-Value="MyModel.Location" />
                    <label for="location">Location</label>
                    <ValidationMessage For="@(() => MyModel.Location)" />
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-floating">
                    <InputTextArea id="comments" class="form-control" rows="3" @bind-Value="MyModel.Comments" />
                    <label for="comments">Comments</label>
                    <ValidationMessage For="@(() => MyModel.Comments)" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating">
                    <InputTextArea id="terms" class="form-control" rows="3" @bind-Value="MyModel.Terms" />
                    <label for="terms">Terms & Conditions</label>
                    <ValidationMessage For="@(() => MyModel.Terms)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <InputCheckbox id="isActive" class="form-check-input" @bind-Value="MyModel.IsActive" />
                    <label class="form-check-label" for="isActive">Active Project</label>
                </div>
            </div>

            <div class="col-2">
                <div class="form-check">
                    <InputCheckbox id="isCompleted" class="form-check-input" @bind-Value="MyModel.IsCompleted" />
                    <label class="form-check-label" for="isCompleted">Completed</label>
                </div>
            </div>

        </div>

        
    </div>

    <div class="container">
        <div class="d-flex flex-row mb-3 filter position-relative">
            <div class="p-2">
                <button type="button" class="btn btn-sm w1 btn-info" title="New" @onclick="New">
                    <i class="bi bi-plus-square"></i>
                </button>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-sm w1 btn-success" title="Add" @onclick="Save">
                    <i class="bi bi-floppy-fill"></i>
                </button>
            </div>
            <div class="p-2 ms-auto">
                <button type="button" class="btn btn-sm w1 btn-warning" title="Back" @onclick="BackPage"><i class="bi bi-arrow-left-circle"></i></button>
            </div>
        </div>
    </div>
</EditForm>

<style>
    .row {
        margin-bottom: 15px;
    }
</style> 