@page "/Accounts/Receipt"
@page "/Accounts/Receipt/{ID:int}"
@attribute [Authorize]
@layout PageLayout
@using AppReports
@using AppliedAccounts.Libs
@using AppliedAccounts.Models
@using AppliedDB
@using AppliedAccounts.Services
@using Microsoft.Extensions.Hosting

@inject AuthenticationStateProvider Authorized
@inject NavigationManager NavManager
@inject IJSRuntime js
@inject ToastService ToastService
@inject PrintService PrintService

@code {
    [Parameter] public int ID { get; set; }

    public BrowseListModel MyBrowseModel { get; set; } = new();
    private string OutputValue = "Initial Value";

    protected override void OnInitialized()
    {
        IsPageValid = true;
        var _UserProfile = ((UserAuthonticationStateProvider)Authorized).AppUser;
        MyModel = new ReceiptModel(_UserProfile);
        MyModel.Start(ID);

        if (MyModel.MyVoucher == null) { ErrorMessage = "Voucher is null"; }
        if (MyModel.MyVoucher == null) { IsPageValid = false; }

        MyModel.RecordFound = true;

        //ToastService.OnShowToast += ShowToast;
    }

    private async void BrowsePayer()
    {
        MyBrowseModel.BrowseListName = "Payer";

        await js.InvokeVoidAsync("showModol", "browseCodeTitle");
    }

    public async Task BrowseCOA()
    {
        await Task.Delay(100);
        // MyBrowseModel.BrowseListName = "COA";
        // await InvokeAsync(StateHasChanged);
        // await Task.Delay(1000);
        // await js.InvokeVoidAsync("showModol", "browseCodeTitle");
    }

    private void HandleValueChanged(string newValue)
    {
        OutputValue = newValue;
        Console.WriteLine($"Value updated in parent: {OutputValue}");
    }
    
    public async void Print()
    {
        string url = "PDFREports/Test.pdf";
        await js.InvokeVoidAsync("printPDF", url); // Path to your PDF
    }

}

<style>
    .line {
        margin: 0px;
        padding: 0px;
    }

    #navigationBtns {
        margin-right: 5px;
    }

    #printBtns {
        margin-right: 5px;
    }

    .input-group-text {
        width: 30%;
    }

</style>
<PageHeading Text="Receipt" />

@if (MyModel.MsgClass.Count > 0)
{
    <PageErrors Messages="MyModel.MsgClass"></PageErrors>
}

@if (IsPageValid)
{
    @if (!IsWaiting)
    {

        <EditForm Model="MyModel">
            <div class="container" id="formContainer">
                <div class="row g-1 p-1">
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputText @bind-Value="MyModel.MyVoucher.Master.Vou_No" id="txtVouNo" class="form-control input-sm" placeholder="Voucher No." />
                            <label for="txtVouDate">Voucher No</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputDate @bind-Value="MyModel.MyVoucher.Master.Vou_Date" id="txtVouDate" class="form-control input-sm" placeholder="Voucher Date" />
                            <label for="txtVouDate">Voucher Date</label>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputText @bind-Value="MyModel.MyVoucher.Master.Ref_No" id="txtRefNo" class="form-control input-sm" placeholder="Reference No." />
                            <label for="txtRefNo">Reference No.</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputText @bind-Value="MyModel.MyVoucher.Master.Pay_Mode" id="txtPayMode" class="form-control input-sm" placeholder="Payment Mode" />
                            <label for="txtPayMode">Payment Mode</label>
                        </div>
                    </div>
                </div>
                <div class="row g-1 p-1">
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputSelect id="ddAccounts" class="form-control item-height"
                                         TValue="int" @onclick="BrowseCOA"
                                         Value="@MyModel.MyVoucher.Master.COA"
                                         ValueExpression="@(() => @MyModel.MyVoucher.Master.COA)"
                                         ValueChanged="@((e) => COAIDChanged(e))">

                                @if (MyModel.PayCOA.Any())
                                {
                                    @foreach (var item in MyModel.PayCOA)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                                else
                                {
                                    <option value="0">No Records - Accounts</option>
                                }

                            </InputSelect>
                            <label for="ddAccounts">Account</label>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputSelect id="ddPayer" class="form-control item-height"
                                         TValue="int" @onclick="BrowseCOA"
                                         Value="@MyModel.MyVoucher.Master.Payer"
                                         ValueExpression="@(() => @MyModel.MyVoucher.Master.Payer)"
                                         ValueChanged="@((e) => PayerIDChanged(e))">
                                @if (MyModel.Companies.Any())
                                {
                                    @foreach (var item in MyModel.Companies)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                                else
                                {
                                    <option value="0">No Records - Payer</option>
                                }

                            </InputSelect>
                            <label for="ddPayer">Payer</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputText @bind-Value="MyModel.MyVoucher.Master.Doc_No" id="txtDocNo" class="form-control input-sm" placeholder="Document No." />
                            <label for="txtDocNo">Document No.</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputDate @bind-Value="MyModel.MyVoucher.Master.Doc_Date" id="txtDocDate" class="form-control input-sm" placeholder="Document Date" />
                            <label for="txtDocDate">Document No.</label>
                        </div>
                    </div>
                </div>
                <div class="row g-1 p-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <InputText @bind-Value="MyModel.MyVoucher.Master.Remarks" id="txtDocDate" class="form-control input-sm" placeholder="Remarks" />
                            <label for="txtRemarks">Remarks</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputText @bind-Value="MyModel.MyVoucher.Master.Comments" id="txtDocDate" class="form-control input-sm" placeholder="Comments" />
                            <label for="txtComments">Comments</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputNumber @bind-Value="MyModel.MyVoucher.Master.Amount" id="txtAmount" step=".01" class="form-control input-sm" placeholder="Amount" />
                            <label for="txtDocDate">Amount</label>
                        </div>
                    </div>

                </div>
                <hr class="line" />
                <div class="row g-1 p-1">
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputNumber @bind-Value="MyModel.MyVoucher.Detail.Sr_No" id="txtSrNo" step="1" class="form-control input-sm" placeholder="Sr. No" />
                            <label for="txtSrNo">Sr. No.</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputNumber @bind-Value="MyModel.MyVoucher.Detail.Inv_No" id="txtInvNo" step="1" class="form-control input-sm" placeholder="Invoice No" />
                            <label for="txtSrNo">Invoice No.</label>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputSelect id="ddProject" class="form-control item-height"
                                         TValue="int" @onclick="BrowseCOA"
                                         Value="@MyModel.MyVoucher.Detail.Project"
                                         ValueExpression="@(() => @MyModel.MyVoucher.Detail.Project)"
                                         ValueChanged="@((e) => ProjectIDChanged(e))">

                                @if (MyModel.Projects.Any())
                                {
                                    @foreach (var item in MyModel.Projects)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                                else
                                {
                                    <option value="0">No Records - Projects</option>
                                }

                            </InputSelect>
                            <label for="ddProject">Project</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputSelect id="ddEmployee" class="form-control item-height"
                                         TValue="int" @onclick="BrowseCOA"
                                         Value="@MyModel.MyVoucher.Detail.Employee"
                                         ValueExpression="@(() => @MyModel.MyVoucher.Detail.Employee)"
                                         ValueChanged="@((e) => EmployeeIDChanged(e))">

                                @if (MyModel.Employees.Any())
                                {
                                    @foreach (var item in MyModel.Employees)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                                else
                                {
                                    <option value="0">No Records - Employee</option>
                                }

                            </InputSelect>
                            <label for="ddEmployee">Employees</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row g-1 p-1">
                    <div class="col-md-3">
                        <div class="form-floating">

                            <InputSelect id="ddAccounts" class="form-control item-height"
                                         TValue="int" @onclick="BrowseCOA"
                                         Value="@MyModel.MyVoucher.Detail.Account"
                                         ValueExpression="@(() => @MyModel.MyVoucher.Detail.Account)"
                                         ValueChanged="@((e) => AccountIDChanged(e))">

                                @if (MyModel.Accounts.Any())
                                {
                                    @foreach (var item in MyModel.Accounts)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                                else
                                {
                                    <option value="0">No Records - Accounts</option>
                                }

                            </InputSelect>
                            <label for="ddAccounts">Account</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputNumber @bind-Value="MyModel.MyVoucher.Detail.DR" id="txtDR" step="1" class="form-control input-sm" placeholder="Debit Amount" />
                            <label for="txtDR">Debit</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputNumber @bind-Value="MyModel.MyVoucher.Detail.CR" id="txtCR" step="1" class="form-control input-sm" placeholder="Credit Amount" />
                            <label for="txtCR">Credit</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating">
                            <InputText @bind-Value="MyModel.MyVoucher.Detail.Description" id="txtDescription" step="1" class="form-control input-sm" placeholder="Description" />
                            <label for="txtDescription">Description</label>
                        </div>
                    </div>
                </div>


                <!-- Control Buttons-->
                <div class="container control-buttons">
                    <div class="grid gap-0 column-gap-3 ctrl-gap">
                        <button @onclick="MyModel.New" class="btn ctrl ctrl-new"><i class="bi bi-file-plus"></i></button>
                        <button @onclick="MyModel.Save" class="btn ctrl ctrl-edit"><i class="bi bi-floppy"></i></button>
                        @if (MyModel.Count > 0)
                        {

                            <button @onclick="MyModel.Remove" class="btn ctrl ctrl-del"><i class="bi bi-trash"></i></button>


                            <div class="btn-group" role="group" aria-label="Navigation Buttons" id="navigationBtns">
                                <button type="button" class="btn ctrl ctrl-top" @onclick="MyModel.Top"><i class="bi bi-arrow-bar-left"></i></button>
                                <button type="button" class="btn ctrl ctrl-next" @onclick="MyModel.Next"><i class="bi bi-arrow-right-short"></i></button>
                                <button type="button" class="btn ctrl ctrl-back" @onclick="MyModel.Back"><i class="bi bi-arrow-left-short"></i></button>
                                <button type="button" class="btn ctrl ctrl-last" @onclick="MyModel.Last"><i class="bi bi-arrow-bar-right"></i></button>
                            </div>

                            @if (MyModel.MyVoucher.Master.Vou_No.ToUpper() != "NEW")
                            {
                                <div class="btn-group" role="group" aria-label="Navigation Buttons" id="printBtns">
                                    <button type="button" class="btn ctrl ctrl-print" @onclick="(()=>{Print(ReportType.Print);})">
                                        <i class="bi bi-printer"></i>
                                    </button>

                                    <button type="button" class="btn ctrl ctrl-print" @onclick="(()=>{Print(ReportType.Preview);})">
                                        <i class="bi bi-search"></i>
                                    </button>
                                    <button type="button" class="btn ctrl ctrl-print" @onclick="(()=>{Print(ReportType.PDF);})">
                                        <i class="bi bi-file-pdf"></i>
                                    </button>
                                    <button type="button" class="btn ctrl ctrl-print" @onclick="(()=>{Print(ReportType.Excel);})">
                                        <i class="bi bi-file-earmark-excel"></i>
                                    </button>
                                    <button type="button" class="btn ctrl ctrl-print" @onclick="(()=>{Print(ReportType.Word);})">
                                        <i class="bi bi-file-earmark-word"></i>
                                    </button>
                                    <button type="button" class="btn ctrl ctrl-print" @onclick="(()=>{Print(ReportType.HTML);})">
                                        <i class="bi bi-filetype-html"></i>
                                    </button>
                                    <button type="button" class="btn ctrl ctrl-print" @onclick="(()=>{Print(ReportType.Image);})">
                                        <i class="bi bi-file-earmark-image"></i>
                                    </button>
                                </div>
                            }

                            @if (MyModel.RecordFound && MyModel.IsAmountEqual())
                            {
                                <button type="button" class="btn ctrl ctrl-saveAll" @onclick="SaveAll">
                                    <i class="bi bi-floppy-fill"></i>
                                </button>
                            }
                        }
                        <button type="submit" class=" btn ctrl ctrl-backPage" @onclick="BackPage">
                            <i class="bi bi-arrow-left-circle-fill"></i>
                        </button>
                        <button type="submit" class=" btn ctrl ctrl-backPage" @onclick="TestRecord">
                            <i class="bi bi-body-text"></i>
                        </button>
                    </div>
                </div>

                <!--Table Records-->
                <div class="continer">
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th style="width:8%">Sr. No.</th>
                                <th style="width:8%">Ref. No.</th>
                                <th style="width:8%">Inv. No</th>
                                <th style="width:20%">Account</th>
                                <th style="width:20%">Project</th>
                                <th style="width:10%">Debit</th>
                                <th style="width:10%">Credit</th>
                                <th style="width:6%">
                                    <button @onclick="MyModel.New" class="btn ctrl ctrl-new"><i class="bi bi-file-plus"></i></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (MyModel.MyVoucher.Details is not null)
                            {
                                @if (MyModel.MyVoucher.Details.Count > 0)
                                {
                                    @foreach (var item in MyModel.MyVoucher.Details)
                                    {

                                        <tr>
                                            <td>@item.Sr_No</td>
                                            <td>@item.Ref_No</td>
                                            <td>@item.TitleInvoice</td>
                                            <td class="left">@item.TitleAccount</td>
                                            <td class="left">@item.TitleProject</td>
                                            <td class="amount">@item.DR.ToString(Format.Digit)</td>
                                            <td class="amount">@item.CR.ToString(Format.Digit)</td>

                                            <td clas class="tb-col-left" s="td-btn">
                                                <button id="btnEdit" type="submit" class="btn-Edit" @onclick="(()=> MyModel.Edit((int)item.ID2))"><i class="bi bi-pencil-fill"></i></button>
                                                @* <label style="padding-left:5px; padding-right:5px;"> | </label>
                                            <button id="btnDel" type="submit" class="btn-Del" @onclick="MyModel.Remove"><i class="bi bi-trash-fill"></i></button> *@
                                            </td>

                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>TOTAL</td>
                                <td class="amount">@MyModel.Tot_DR.ToString(Format.Digit)</td>
                                <td class="amount">@MyModel.Tot_CR.ToString(Format.Digit)</td>
                                <td class="center">
                                    <button @onclick="MyModel.New" class="btn ctrl ctrl-new"><i class="bi bi-file-plus"></i></button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </EditForm>
    }
    else
    {
        <ShowSpinner Message="@SpinnerMessage" />
    }
}
else
{
    <h4 class="alert-heading">Error!</h4>
    <p>There is an error in the page. Please contact the administrator.</p>
    <hr>
    <p class="mb-0">Error: @ErrorMessage</p>
}





<BrowseCodeTitle BrowseModel="MyBrowseModel" OutputValue="0" OnValueChanged="HandleValueChanged"></BrowseCodeTitle>

@* <link rel="stylesheet" href="css/BrowseTable.css" />
<div class="tableContainer">
    <EditForm Model="MyBrowseModel">
         <div class="modal modal-fullscreen" 
              id="browseCodeTitle" 
              tabindex="-1" 
              aria-labelledby="ModalLabel" 
              style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="container">
                            <div class="row filter" id="searchFilter">
                                <div class="col">
                                    <InputText @bind-Value="@MyBrowseModel.SearchText" @oninput="MyBrowseModel.ChangeFilter"></InputText>
                                    <label>Search</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container mt-3">
                            <div class="table-responsive">
                                <table id="browsTable" class="table table-striped table-hover table-bordered text-center">
                                    <thead class="table-browse" id="tableBrowse">
                                        <tr>
                                            <th style="width: 25%;">Code</th>
                                            <th style="width: 70%;">Title</th>
                                            <th style="width: 5%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (MyBrowseModel.FilteredList != null)
                                        {
                                            @foreach (var item in GetBrowseList(MyBrowseModel.BrowseListName))
                                            {
                                                <tr>
                                                    <td>@item.Code</td>
                                                    <td style="text-align:left">@item.Title</td>
                                                    <td>
                                                        <button type="button"
                                                                class="btn btn-link btn-sm w1"
                                                                data-bs-dismiss="modal"
                                                                @onclick="(e => MyBrowseModel.SelectValue(item.ID))">
                                                            <i class="fa-solid fa-circle-check"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td><p>No List found.</p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success btn-sm" btn-sm>Select</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</div> *@