@page "/ImportData/ImportSalesInvoice"
@using System.Data
@using AppliedDB
@attribute [Authorize];


@inject AuthenticationStateProvider authStateProvider;

@code {

    protected override void OnInitialized()
    {
        AppUser = ((UserAuthonticationStateProvider)authStateProvider).AppUser;
        //Source = new(AppUser);          // Establish Data Base source Class...
        Model = new();
    }

    private void Post()
    {
        ShowSpinner = true;
        Save();
        ShowSpinner = false;
        Model.ShowData = false;
        Model.ShowMessages = true;
        StateHasChanged();

    }

}



<EditForm Model="Model">
    <div class="container">
        <div class="row mt-2">
            <div class="col-6">
                <button id="btnShow" @onclick="Stop">Stop</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#ViewInvoice">
                    View
                </button>
            </div>
        </div>
    </div>

    @if (Model.ShowData)
    {
        <div class="container">
            <div class="rowe">
                <div class="col">
                    <button class="btn btn-warrning" @onclick="(()=>Post())">Post</button>
                </div>
            </div>
        </div>


        if (SalesData.Rows.Count > 0)
        {
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Vou No</th>
                        <th>Vou Date</th>
                        <th>Company Name</th>
                        <th>Amount</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SaleInvoiceList)
                    {
                        <tr>
                            <td>@item["Vou_No"]</td>
                            <td>@item["Vou_Date"]</td>
                            <td>@item["Description"]</td>
                            <td>@item["Amount"]</td>
                            <td>
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#ViewInvoice">
                                    View
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <div class="container">
            <div class="row mt-2">
                <div class="col-8">
                    <InputFile id="inputFile" OnChange="GetExcelFile">Select Excel File</InputFile>
                </div>

                @if (IsExcelLoaded)
                {
                    <div class="col-2">
                        <button id="btnShow" @onclick="(()=>GetImportedDataAsync())">Generate Invoices</button>
                    </div>
                }
                @if (ShowSpinner)
                {
                    <div class="col-2">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }

            </div>


            <div class="row">
                <div class="col">
                    <textarea style="width:100%; height:auto">@MyMessage</textarea>

                </div>

            </div>
        </div>
    }

    @if (Model.ShowMessages)
    {
        <textarea style="width:100%; height:auto">
            @MyMessage;
            </textarea>
    }


</EditForm>


<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#ViewInvoice">
    View
</button>

